<app-navtop></app-navtop>
<div class="main">
  <img src="../../../assets/img/adv.png" class="sult_img" alt="">
  <div class="consult_con">
    <nz-tabset [nzTabPosition]="position">
      <nz-tab nzTitle="市场合作">
        <div class="about_content">
          <div class="about_middle_content">
            <p>数据+体验+技术，三个关键词解读餐饮新零售_营销推广-优啦科技</p>
            <p>发布时间 : 2018-09-27 来源 : 人人都是产品经理</p>
            <p>赫拉斯瓦尔格虽然不愿参与尼德霍格的战斗，但也不会原谅人类，说完他便飞走了。赫拉斯瓦尔格的真相和埃斯蒂尼安所知的完全不同，但为了结束龙诗战争，他要去往翻云雾海东边的尼德霍格的巢穴。而伊塞勒独自留在了天极白垩宫。</p>
            <p><img src="http://cnscarb.com/codenote/pic.jpg" alt=""></p>
              <p>第二天，光之战士吹响了莫古力的喇叭，洁白的圣龙赫拉斯瓦尔格也降落在了天极白垩宫。光之战士注意到赫拉斯瓦尔格只有一只眼睛。伊塞勒再次见到了赫拉斯瓦尔格，但赫拉斯瓦尔格却怒斥她召唤蛮神希瓦，因为蛮神希瓦并不是真正的圣女希瓦，只不过是伊塞勒的幻想而已，这也意味着伊塞勒所做的一切都是无用功，这让伊塞勒无法接受。赫拉斯瓦尔格也不认同阿尔菲诺的主张，他告诉了众人龙诗战争的真相：</p>
              <p>人龙和平相处后的两百年，伊修加德的首任国王托尔丹带领骑士杀死了七大天龙之一拉塔斯托克，也就是赫拉斯瓦尔格和尼德霍格的妹妹，并将她的龙眼分而食之，获得了力量。尼德霍格要为妹妹复仇却也被夺取了龙眼。虽然这已经是一千年以前的事了，但对于长寿的龙族来说却还是昨日的伤痛，因此尼德霍格不会直接摧毁伊修加德，而是经常性地袭击，让伊修加德的人民承受永恒的痛苦。</p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="企业新闻">
        <div class="about_content">
          <div class="about_middle_content">
            <p>数据+体验+技术</p>
            <p>发布时间 : 2018-09-27 来源 : 人人都是产品经理</p>
            <p>赫拉斯瓦尔格虽然不愿参与尼德霍格的战斗，但也不会原谅人类，说完他便飞走了。赫拉斯瓦尔格的真相和埃斯蒂尼安所知的完全不同，但为了结束龙诗战争，他要去往翻云雾海东边的尼德霍格的巢穴。而伊塞勒独自留在了天极白垩宫。</p>
            <p><img src="../../../assets/img/sulticon.png" alt=""></p>
              <p>第二天，光之战士吹响了莫古力的喇叭，洁白的圣龙赫拉斯瓦尔格也降落在了天极白垩宫。光之战士注意到赫拉斯瓦尔格只有一只眼睛。伊塞勒再次见到了赫拉斯瓦尔格，但赫拉斯瓦尔格却怒斥她召唤蛮神希瓦，因为蛮神希瓦并不是真正的圣女希瓦，只不过是伊塞勒的幻想而已，这也意味着伊塞勒所做的一切都是无用功，这让伊塞勒无法接受。赫拉斯瓦尔格也不认同阿尔菲诺的主张，他告诉了众人龙诗战争的真相：</p>
              <p>人龙和平相处后的两百年，伊修加德的首任国王托尔丹带领骑士杀死了七大天龙之一拉塔斯托克，也就是赫拉斯瓦尔格和尼德霍格的妹妹，并将她的龙眼分而食之，获得了力量。尼德霍格要为妹妹复仇却也被夺取了龙眼。虽然这已经是一千年以前的事了，但对于长寿的龙族来说却还是昨日的伤痛，因此尼德霍格不会直接摧毁伊修加德，而是经常性地袭击，让伊修加德的人民承受永恒的痛苦。</p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="联系我们">
        <div class="about_content">
          <div class="about_middle_content">
            <p>三个关键词解读餐饮新零售_营销推广-优啦科技</p>
            <p>发布时间 : 2018-09-27 来源 : 人人都是产品经理</p>
            <p>赫拉斯瓦尔格虽然不愿参与尼德霍格的战斗，但也不会原谅人类，说完他便飞走了。赫拉斯瓦尔格的真相和埃斯蒂尼安所知的完全不同，但为了结束龙诗战争，他要去往翻云雾海东边的尼德霍格的巢穴。而伊塞勒独自留在了天极白垩宫。</p>
            <p><img src="http://cnscarb.com/codenote/pic.jpg" alt=""></p>
              <p>第二天，光之战士吹响了莫古力的喇叭，洁白的圣龙赫拉斯瓦尔格也降落在了天极白垩宫。光之战士注意到赫拉斯瓦尔格只有一只眼睛。伊塞勒再次见到了赫拉斯瓦尔格，但赫拉斯瓦尔格却怒斥她召唤蛮神希瓦，因为蛮神希瓦并不是真正的圣女希瓦，只不过是伊塞勒的幻想而已，这也意味着伊塞勒所做的一切都是无用功，这让伊塞勒无法接受。赫拉斯瓦尔格也不认同阿尔菲诺的主张，他告诉了众人龙诗战争的真相：</p>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
