<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand nav-logo" href="https://angular.cn/guide/quickstart" target="_blank">
    <img src="../../../favicon.ico" width="50" height="50"
    class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler btn-menu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-toggler head-text" href="https://github.com/szjSmiling" target="_blank" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
    Welcome to Jelly Sun's home with angular6 and bootstrap4.0.
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto head-ul">
      <li class="nav-item head-li" *ngFor="let item of title" [class.active]="item.flag" (click)="onSelect(item)">
        <a class="nav-link" href="java:;">{{item.name}}<span class="sr-only">{{item.name}}</span></a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
    </form>
  </div>
</nav>