<app-navtop></app-navtop>
<div class="downTop">
  <div class="main disflex">
    <div class="flexItem downInfo">
      <h2>随时随地 轻松贷款</h2>
      <p>2分钟申请,银行放款到账快</p>
      <div class="downApp disflex">
        <ul>
          <li><a class="clearfix" href=""><img src="../../../assets/img/phone.png" alt=""><span>iPhone下载</span></a></li>
          <li><a class="clearfix" href=""><img src="../../../assets/img/android.png" alt=""><span>Android下载</span></a></li>
        </ul>
        <div>
          <img src="" alt="">
          <p>扫描下载APP</p>
        </div>
      </div>
    </div>
    <div class="flexItem downImg">
      <img src="../../../assets/img/showtip.png" alt="">
      </div>
    </div>
  </div>
  <div class="downMain main">
    <ul>
      <li class="disflex">
        <div class="mainInfo flexItem">
          <h2>额度超高</h2>
          <p>抵押贷款额度为房产价值的<em>70%</em></p>
          <p>有工作可贷<em>30万</em>，全款房可贷<em>200万</em></p>
        </div>
        <div class="flexItem">
          <img src="../../../assets/img/downShowImg_1.png" alt="">
          </div>
      </li>
      <li class="disflex">
        <div class="flexItem">
          <img src="../../../assets/img/downShowImg_2.png" alt="">
          </div>
          <div class="mainInfo flexItem">
            <h2>放款超快</h2>
            <p>手续简单，无需征信</p>
            <p>申请只需<em>2分钟</em>，最快<em>10分钟到账</em></p>
          </div>
      </li>
      <li class="disflex">
        <div class="mainInfo flexItem">
          <h2>利率超低</h2>
          <p>无担保，无抵押，纯信用贷款</p>
          <p>日息低至<em>0.018%</em></p>
        </div>
        <div class="flexItem">
          <img src="../../../assets/img/downShowImg_3.png" alt="">
          </div>
      </li>
      <li class="disflex">
        <div class="flexItem">
          <img src="../../../assets/img/downShowImg_4.png" alt="">
          </div>
          <div class="mainInfo flexItem">
            <h2>多家合作银行放款</h2>
            <p>建社银行，浦发银行，攀商行</p>
            <p>从根本上解决贷款问题，<em>值得信赖</em></p>
          </div>
      </li>
    </ul>
  </div>
