<app-navtop></app-navtop>

<div class="main">
  <div class="show_content">
      <p class="show_left clearfix">
          <img src="../../../assets/img/phone.png" alt="">
      </p>
      <div class="show_right">
          <img src="../../../assets/img/icon.png" alt="">
          <div class="show_title">
              <p>借贷宝</p>
              <p>专门从事借贷工作，为您打造贴心的借贷应用！</p>
          </div>
          <ul class="show_Oul disflex">
              <li>大额贷款</li>
              <li>闪电获贷</li>
              <li>还款灵活</li>
              <li>每日低息</li>
          </ul>
          <div class="show_ma">
              <img src="../../../assets/img/show_ma.png" alt="">
              <p>扫一扫，手机预览作品</p>
          </div>
          <a class="show_btn" href="">
              点击下载应用
          </a>
      </div>
  </div>
</div>
