$lte7: false; // 全局变量,验证是否兼容ie6,7
@import 'assets/css/index.scss';

.form-child{
  .form-child_div1{
    width:600px;
    button, p, li{ margin-bottom:5px; }
    h3{
      @extend p;
      font-weight: bold;
    }
    button:hover{ background: #f4f4f4;}
    .cantClick{background: #f4f4f4;color:#f00;}
    .child_div1_content{
      margin-left: 20px;
      p span{
        display:inline-block;
        width:65px;
        margin-right: 5px;
        word-wrap:break-word;
        text-align:justify;
      }
      .form_address{
        flex-wrap:wrap;
        p{margin-right: 20px;}
      }
    }
  }
}

// 表单验证
.szj-valid{
  .form-list{
    margin-bottom: 10px;
    .form1{
      width:300px;
      float: left;
      padding-top: 10px;
      border-radius:4px;
      border:1px solid #eee;
      div{
        text-align: center;
        margin-bottom: 10px;
        span{
          display:inline-block;
          width:80px;
          text-align: justify;
        }
        button{
          padding:5px 20px;
        }
      }
    }
    .form2{
      @extend .form1;
      margin-left: 10px;
      div{margin-bottom: 0;}
      .err-div{
        margin-bottom: 10px;
        p{
          text-align: left;
          color:#f00;
          margin-left: 112px;
        }
      }
      .right-div{margin-bottom: 10px;}

    }
    &:after{
      display: block;
      content:"";
      clear: both;
      *zoom:1;
    }
  }
  .test-image{
    div{
      @include bgImg(4, 'form', 'san-m.png');
      width:200px;
      height:200px;
      background-color: #f1f1f1;
      background-size: 50% auto;
      background-repeat: no-repeat;
      background-position:left 10px top 10px;
      // background: url(../../../../assets/img/form/san-m.png) left 10px top 10px/50% no-repeat #f1f1f1;
      &:nth-child(2){
        margin-left: 10px;
        background-size: 25%;
        background-repeat: repeat;
        background-position:left top;
      }
      &:nth-child(3){
        @include inline-block;
        margin-left: 10px;
        background-position:right 10px bottom;
      }
    }
  }
  .test-scss{
    p{
      @extend %inline-block;
      margin-top: 10px;
    }
  }
}


// 3.webkit moz 和标准
@mixin box-sizing($type:border-box) {
  // border-box | padding-box | content-box
  @include prefixer(box-sizing, $type, webkit moz spec);
}
// 3.webkit moz o 和标准
@mixin transform($property...) {
  @include prefixer(transform, $property, webkit moz o spec);
}

// 测试scss的@mixin的写法
@include screen(780px,1000px){
  body{
    font-size:14px;
  }
}
@include keyframes(show){
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.box{
  @include no-border-radius{
    @include bgImg( 4, 'form', 'san-m.png' );
  }
}
// 渲染后的css -->.box .no-border-radius{ background:url(round-bg.gif) no-repeat; }