<!--The content below is only a placeholder and can be replaced.-->
<div id="ng-app">
  <router-outlet></router-outlet>
  <div class="indexFoot">
    <div class="indexfootUl disflex">
      <div class="info">
        <ul>
          <li class="clearfix"><span>关于我们</span><i>招贤纳士</i><i>公司简介</i><i>创始团队</i><i>市场合作</i><i>联系我们</i></li>
          <li class="clearfix"><span>产品服务</span><i>小微经营贷</i><i>个人分期贷</i><i>产品介绍</i><i>关于我们</i><i>帮助中心</i></li>
          <li class="clearfix"><span>热门贷款</span><i>淘宝/天猫贷款</i><i>京东贷款</i><i>苏宁易购贷款</i><i>饿了吗贷款</i><i>美团贷款</i></li>
        </ul>
      </div>
      <div class="qrcodeBox">
        <ul class="clearfix">
          <li>
            <p>APP下载</p>
            <img src="../assets/img/weixin-2.png" alt="">
        </li>
          <li>
            <p>微信公众号</p>
            <img src="../assets/img/weixin-2.png" alt="">
        </li>
        </ul>
      </div>
      <div class="relation">
        <p>服务热线：</p>
        <h2>028-63138300</h2>
        <h2>400-093-2109</h2>
        <p>官方邮箱： Youladaianlad.cn</p>
        <p>工作时间： 09:00-18:00（工作日）</p>
      </div>
    </div>
    <div class="bottom">
      上海乐蜀网络科技股份有限公司 版权所有 Copyright © 2010-2018. Leshu.Inc. All Rights Reserved.
    </div>
  </div>
  <!-- 这里的是测试入门 -->
  <!-- <h1 style="text-align:center">
    <img class="app-icon" width="58" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  {{ title }}
  </h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <app-heroes></app-heroes>
  <router-outlet></router-outlet>
  <app-messages></app-messages> -->
</div>
