
/* indexfoot */
.indexFoot{margin:25px 0 0 0;background:#272835;}
.indexFoot .indexfootUl{width:1200px;margin:0 auto;padding:35px 0 10px 0;}
.indexFoot .bottom{padding:10px 0 50px;background:#1c1c28;color:#fff;text-align:center;}
.indexfootUl .qrcodeBox li{margin:0 25px 0 0;float:left;}
.indexfootUl .qrcodeBox{padding:0 20px 0 0;border-right:1px solid #494a56;}
.indexfootUl .qrcodeBox p{margin: 0 0 20px 0;text-align:center;color:#fff;}
.indexfootUl .qrcodeBox img{display:block;width:140px;height:140px;background:#fff;}
.indexfootUl .info{margin:60px 30px 0 0;}
.indexfootUl .info li {margin:0 0 20px  0;}
.indexfootUl .info li span,.indexfootUl .info li i,.indexfootUl .info li a{float:left; color:#fff;}
.indexfootUl .info li span{margin:0 15px 0 0;}
.indexfootUl .info li i,.indexfootUl .info li a{padding:0 10px;height:12px;line-height:12px;margin:3px 0 0 0;border-right:1px solid #fff;font-size:12px;}
.indexfootUl .info li i:last-child{border:none;}
.indexfootUl .info li a:last-child{border:none;}
.relation{margin:30px 0 0 50px;color:#fff;}
.relation p{font-size:14px;height:30px;line-height:30px;}
.relation h2{font-size:22px;height:25px;line-height:25px;}


/*h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.app-icon{
  vertical-align: text-top;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 20px 20px 0;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}*/

