<div class="gutter-example">
  <h5>1.栅格常常需要和间隔进行配合，你可以使用 nz-row 的 nzGutter 属性，我们推荐使用 (16+8n)px 作为栅格间隔。(n 是自然数)</h5>
  <div nz-row class="gutter-box1" [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
  </div>
  <div nz-row class="gutter-box2">
    <div nz-col nzSpan="8" class="gutter-box">col-8 offset-8</div>
    <div nz-col nzSpan="8" nzOffset="8" class="gutter-box">col-8</div>
  </div>
  <div class="advImg" (mouseenter)="imgUrl = '../../assets/img/indexAc.png' "
    (mouseleave)="imgUrl = '../../assets/img/weixin.png' ">
    <img [src]='imgUrl'>
  </div>
  <h5>2.Angular 的简单指令使用</h5>
  <ul class="gutter-box3">
    <li [ngClass]="{'first': true, second: addClass}" (click)="checkEleClass($event)">
      2.1 ngClass: 类名的添加与移除(类名: <span>{{elClass}}</span>);
    </li>
    <li>
      2.2 ngFor: 数组列表的展示以及数据处理
      <p>数组元素: <span *ngFor="let data of dataList">{{data.name}}, </span>;</p>
    </li>
    <li>
      2.3 NgIf: 进行条件显示  <button (click)="showOrHide()">数组数据处理</button>
      <p *ngIf="dataList.length > 3">数组的数据超过三个就显示!</p>
      <p *ngIf="dataList.length <= 3">数组的数据小于等于三个就显示!</p>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>