@import '../../assets/css/common.scss';
.gutter-example{
  width:800px;
  margin:auto;
  color:#333;
  background: $white;
  h5{
    padding:10px 0 0;
    font-size:14px;
  }
  p{
    background: $white;
    font{
      size:14px;
    }
  }
  .gutter-box {
    background: #00A0E9;
    padding: 5px;
    color:$white;
  }
  .advImg img{
    height:60px;
    cursor: pointer;
    vertical-align: top;
  }
  .cross_line{
    height:10px;
    background: #eee;
  }
  .tem_content{
    padding-bottom: 100px;
    .gutter-box1{
      border-bottom:1px solid gainsboro;
    }
    .gutter-box2{
      margin:10px 0;
      @extend .gutter-box1;
    }
    .gutter-box3{
      li{
        margin:10px 0 0;
        padding-left:10px;
        p{padding-left: 10px;}
        span{color:#f00;}
        button{cursor: pointer;}
        //:host ::ng-deep
      }
      li:first-child{cursor: pointer;}
      .form_li{
        color:#F1A325;
        form{
          max-width: 240px;
          max-height:266px;
          float:left;
          display:inline-block;
          border:1px solid #F1A325;
          .form-group{
            padding:10px 20px;
            label{
              display: block;
              text-align: left;
              color:#333;
            }
            .form-control {
              width:200px;
              height:30px;
              padding:5px 0 5px 5px;
              border-radius:2px;
              margin-top:8px;
              outline-color: #145CCD;
            }
            button{
              width:80px;
              color:$white;
              background: #38B03F;
              border-radius:2px;
              border:0;
              padding:5px 10px;
            }
            .issubmit{
              background: #7ECC82;
            }
          }
          .alert-info{
            padding:10px 20px;
            color:#5BAFD5;
            background: #DDF3F5;
          }
        }
        .switch_li{
          float: left;
          max-width:220px;
          border:1px solid #999;
          padding:10px;
          margin-left:10px;
          div{margin-bottom:10px}
        }
        .filter_li{
          float: right;
          margin-right: 90px;
          max-width:220px;
          margin-left: 10px;
          padding:10px;
          border:1px solid #999;
        }
        .filter_li2, .filter_li3{
          @extend .filter_li;
          float: left;
          margin-right: 0;
          margin-top: 5px;
          width:216px;
        }
        .filter_li3{
          margin-bottom: 0;
        }
      }
    }
    .gutter-box4{
      width:358px;
      padding-left:10px;
      button{
        padding:5px 10px;
        background: #eee;
        border:0;
        border-radius:2px;
        cursor: pointer;
        margin-right: 10px;
      }
      button:hover,button:active{
        color:#fff;
        background: #999;
      }
      .seconds{
        width:100px;
        height:100px;
        line-height: 100px;
        text-align: center;
        font-size:30px;
        color:#f00;
        background: #000;
      }
    }
    .gutter_parent{margin-left: 20px;}
    .gutter-box5{
      padding-left: 10px;
      button{
        padding:5px 10px;
        background: #eee;
        border:0;
        color:#f00;
        border-radius:2px;
        cursor: pointer;
        margin-right: 10px;
      }
      button:hover,button:active{
        background: #f4f4f4;
      }
    }
  }
  .tem_title{
  }
}