<div class="gutter-example">
  <h5>1. 栅格常常需要和间隔进行配合，你可以使用 nz-row 的 nzGutter 属性，我们推荐使用 (16+8n)px 作为栅格间隔。(n 是自然数)</h5>
  <div nz-row class="gutter-box1" [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
  </div>
  <div class="tem_title">
    <h5>子组件的内容区域</h5>
    <div nz-row class="gutter-box2">
      <a nz-col nzSpan="6" class="gutter-box" routerLink="/router1">进入路由一</a>
      <a nz-col nzSpan="6" nzOffset="6" class="gutter-box" routerLink="/router2">进入路由二</a>
  </div>
  </div>
  <div class="advImg" (mouseenter)="imgUrl = '../../assets/img/indexAc.png' "
    (mouseleave)="imgUrl = '../../assets/img/weixin.png' ">
    <img [src]='imgUrl'>
  </div>
  <div class="tem_content clearfix">
    <h5>2. Angular 的简单指令使用</h5>
    <ul class="gutter-box3">
      <li [ngClass]="{'first': true, second: addClass}" [class.three]="addClass" (click)="checkEleClass($event)">
        2.1 ngClass: 类名的添加与移除(类名: <span>{{elClass}}</span>);
      </li>
      <li>
        2.2 ngFor: 数组列表的展示以及数据处理
        <p>数组元素: <span *ngFor="let data of dataList">{{data.name}}, </span>;</p>
      </li>
      <li>
        2.3 NgIf: 进行条件显示  <button (click)="showOrHide()">数组数据处理</button>
        <p *ngIf="dataList.length > 3">数组的数据超过三个就显示!</p>
        <p *ngIf="dataList.length <= 3">数组的数据小于等于三个就显示!</p>
      </li>
      <li>
        2.4 模板引用变量(#heroInput)
        <input class="test_input" type="text" #heroInput value="Blob" (input)="changeValue($event, heroInput.value)" placeholder="请输入"> ==>output:<span>{{heroInput.value}}</span>
      </li>
      <li class="form_li clearfix">
        2.5 NgForm 指令,需要导入 FormsModule ,这样指令具备了跟踪表单中的每个空间的值和有效性的能力
        <form class="fl" (ngSubmit)="onSubmit(stuForm)" #stuForm="ngForm">
          <div class="form-group">
            <label for="name">姓名：</label>
            <input type="text" autocomplete="off" name="name" required [(ngModel)]="stu.name" class="form-control">
          </div>
          <div class="form-group">
            <label for="age">年龄：</label>
            <input type="text" autocomplete="off" name="age" required [(ngModel)]="stu.age" class="form-control">
          </div>
          <div class="form-group">
            <button *ngIf="!issubmit" type="submit" [disabled]="!stuForm.form.valid">确定提交</button>
            <button *ngIf='issubmit' type="submit" [ngClass]="{issubmit:!stuForm.form.valid}" disabled>正在提交...</button>
          </div>
          <div class="alert-info">表单对象:{{stu|json}}</div>
        </form>
        <div class="switch_li">
          2.6 NgSwitch属性型指令的使用
          <div [ngSwitch]="num">
            <div *ngSwitchCase="0">ngSwitchCase 0</div>
            <div *ngSwitchCase="1">ngSwitchCase 1</div>
            <div *ngSwitchCase="2">ngSwitchCase 2</div>
            <div *ngSwitchCase="3">ngSwitchCase 3</div>
            <div *ngSwitchDefault>ngSwitchCase Default</div>
          </div>
          <button (click)="changeElement()">Swicth</button>
        </div>
        <div class="filter_li ">
          2.7 管道操作符 ( | )
          <p>自定义pipe: {{title | pipes}}</p>
          <p>常用pipe: {{title | uppercase}}</p>
          <p>常用pipe圆周率: {{pi | number:'1.2-4'}}</p>
          <p>常用货币pipe: {{a | currency:'USD':'code'}}</p>
          <p>常用货币pipe: {{b | currency:'USD':'symbol':'3.2-2'}}</p>
          <p>常用date pipe: {{today | date}}</p>
          <p>常用date pipe: {{today | date: 'medium'}}</p>
          <!-- <p>常用date pipe: {{today | date: 'fullDate'}}</p> -->
          <p>常用data pipe: {{today | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
        <div class="filter_li2">
          2.8 安全导航操作符 ( ?. )
          <p>The name is : {{stu?.name}}</p>
        </div>
        <div class="filter_li3">
          2.9 类型转换函数 $any
          <p>The stu's name is {{$any(stu).name}}</p>
          <p>The title is {{$any(this).title}}</p>
        </div>
      </li>
    </ul>
    <div class="cross_line"></div>
    <div class="fl">
      <h5>3.1 父组件和子组件通过本地变量交互</h5>
      <div class="gutter-box4">
        <h3>Countdown to Liftoff (via local variable)</h3>
        <button (click)="timer.start()">Start</button>
        <button (click)="timer.stop()">Stop</button>
        <div class="seconds">{{timer.seconds}}</div>
        <app-countdown-timer #timer></app-countdown-timer>
      </div>
      <p>缺点:父组件无法读取子组件的属性值或调用子组件的方法.</p>
    </div>
    <div class="fl gutter_parent">
      <h5>3.2 父组件调用@ViewChild()</h5>
      <div class="gutter-box4">
        <h3>Countdown to Liftoff (via ViewChild)</h3>
        <button (click)="start()">Start</button>
        <button (click)="stop()">Stop</button>
        <div class="seconds">{{ seconds() }}</div>
        <app-countdown-timer2></app-countdown-timer2>
      </div>
    </div>
    <div class="cross_line" style="margin-top: 220px;"></div>
    <div class="gutter-box5">
      <h2>3.3 通过service 进行组件之间的沟通</h2>
      <button (click)="announce()">Announce mission</button>
      <app-astronaut *ngFor="let astronaut of astronauts"
        [astronaut]="astronaut">
      </app-astronaut>
      <h3>History----------</h3>
      <ul>
        <li *ngFor="let event of history">{{event}}</li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>