<div id="szj-router1">
  <div class="list_title">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" (nzClick)="selectItem(tab)">
        <ng-template #titleTemplate >
          <i nz-icon [type]="tab.icon"></i>{{ tab.name }}
        </ng-template>
        {{ tab.name }}
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="child_content">
    <szj-com *ngIf="childName === '组件1'" [fromFatherValue]="fromParent" (fromChild)="fromChildCom($event)"></szj-com>
    <szj-com2 *ngIf="childName === '组件2'" [fromFatherValue]="fromParent" (fromChild)="fromChildCom($event)" ></szj-com2>
  </div>

  <div class="load-component">
    <h3>1. 动态加载组件</h3>
    <button class="dmBtn" (click)="createComplete()" >动态创建模块</button>
    <button class="dmBtn" (click)="addComponent()" >动态加载组件</button>
    <section class="dmRoom" #dmroom></section>
  </div>
  <div class="my-directives">
    <h3>2.1 Directives ,属性型指令</h3>
    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio nzValue="yellow">yellow</label>
      <label nz-radio nzValue="orange">orange</label>
      <label nz-radio nzValue="gray">gray</label>
      <label nz-radio nzValue="lightblue">lightblue</label>
    </nz-radio-group>
    <p [appHighlight]="radioValue" >属性型指令的测试:appHighlight---鼠标hover改变背景色(No defaultColor)</p>
    <p [appHighlight]="radioValue" defaultColor="violet">属性型指令的测试:appHighlight---鼠标hover改变背景色</p>
  </div>
  <div class="my-directives">
    <h3>2.2 Directives ,结构型指令, 职责是 HTML 布局.</h3>

  </div>
</div>